<form action="/ep/openid/" method="post">
	<label for="openid_url">OpenID:</label>
	<input value="https://www.google.com/accounts/o8/id" name="openid_url"/>
	<input id="openid_submit" type="submit" value="Sign-In"/>
</form>